<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <!--<connectionStrings>
    <add name="connString" connectionString="Server=DESKTOP-DKRA2O6\SQLEXPRESS;Database=SMDB;Uid=sa;Pwd=195814"/>
  </connectionStrings>-->
  <connectionStrings>
    <add name="connString" connectionString="Server=GJQ;Database=SMDB;Uid=sa;Pwd=195814"/>
  </connectionStrings>
  <appSettings>
    <add key="persion" value="3.0"/>
  </appSettings>
</configuration>